* { 
  box-sizing: border-box; 
}

body { 
  font-family: sans-serif; 
}

#bach, #player {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1000
}

section#main {
  section {
    height: 100%;
    width: 100%;
    transition: width 500ms ease-in;
  }
  .title {
    h1 {
      text-align: center;
    }
  }
  section.menu {
    .scene {
      width: 200px;
      height: 200px;
      // border: 1px solid #CCC;
      perspective: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 500ms ease-in;
      z-index: 1000;
    }
    #myCanvas {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // opacity: 0.5;
      z-index: -999;
    }

    .cube {
      width: 200px;
      height: 200px;
      position: relative;
      transform-style: preserve-3d;
      transform: translateZ(-100px);
      transition: transform 1s;
      cursor: pointer;
    }
    
    .cube.show-front { 
      transform: translateZ(-100px) rotateY(   0deg); 
    }
    .cube.show-right { 
      transform: translateZ(-100px) rotateY( -90deg); 
    }
    .cube.show-back { 
      transform: translateZ(-100px) rotateY(-180deg); 
    }
    .cube.show-left { 
      transform: translateZ(-100px) rotateY(  90deg); 
    }
    .cube.show-top { 
      transform: translateZ(-100px) rotateX( -90deg); 
    }
    .cube.show-bottom { 
      transform: translateZ(-100px) rotateX(  90deg); 
    }

    .cube__face {
      position: absolute;
      width: 200px;
      height: 200px;
      border: solid thin #000000;
      line-height: 200px;
      font-size: 20px;
      font-weight: bold;
      color: white;
      text-align: center;
      text-shadow: 3px 2px 5px #000000;
    }

    .cube__face--front  { 
      background: hsla(120, 100%, 50%, 0.4);
    }
    .cube__face--right { 
      background: hsla( 60, 100%, 50%, 0.4); 
    }
    .cube__face--back { 
      background: hsla(300, 100%, 50%, 0.4); 
    }
    .cube__face--left { 
      background: hsla(180, 100%, 50%, 0.4); 
    }
    .cube__face--top { 
      background: hsla( 15, 100%, 50%, 0.4); 
    }
    .cube__face--bottom { 
      background: hsla(240, 100%, 50%, 0.4); 
    }

    .cube__face--front { 
      transform: rotateY(  0deg) translateZ(100px); 
    }
    .cube__face--right { 
      transform: rotateY( 90deg) translateZ(100px); 
    }
    .cube__face--back { 
      transform: rotateY(180deg) translateZ(100px); 
    }
    .cube__face--left { 
      transform: rotateY(-90deg) translateZ(100px); 
    }
    .cube__face--top { 
      transform: rotateX( 90deg) translateZ(100px); 
    }
    .cube__face--bottom { 
      transform: rotateX(-90deg) translateZ(100px); 
    }
    // background-color: #ee5522;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23ca481d' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    background-image: url('../img/mushroom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &.split {
      border-right: solid 10px #3b3b3b;
      width: 30%;
      float: left;
    }
  }
  section.description {
    &.split {
      display: inherit;
      width: 70%;
      height: 100%;
      opacity: 1;
      float: left;
      position: inherit;
      top: unset;
      left: unset;
      transform: inherit;
      border-radius: inherit;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    // width: 25px;
    // height: 25px;
    display: none;
    // opacity: 0;
  }
  
  // #bach, #player {
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   z-index: -1000
  // }

  overflow: hidden;
  position: relative;
  height: 100vh;
}